@import "common/variables.scss";
@import"common/mixins.scss";
@import "common/sprites.scss";
@import "common/fonts.scss";
@import"common/layout.scss";
@import"partials/topbar.scss";
@import"partials/sidebar.scss";
@import"partials/messagebox.scss";
.hidden{
	display: none
}

#containerChat {
	width:auto;
	float:left;
	background-color:#fff;
}