#sidebar{
	width:30%;
	float:left;
	background-color:#EBEFF5;
	padding-top:1em;
	font-family:'robotoregular';
	.sidebar-list{
		min-height:300px;
		width:100%;
		float:left;
		margin-left:1em;

		ul {
			width:100%;

			li{
				list-style-type:none;
				font-size:0.9em;
				color:#8D8F92;
				width:100%;
				font-weight:bold;
				float:left;
				min-height:3em;
				line-height:2em;

				.circle-outer-user{
					@include circle(2.5em,#fff);
					float:left;
					text-align:center;
					margin-right:0.5em;
					
					.circle-user{
						@include circle(1.8em,#bebebe);
						overflow:hidden;
						margin:5px auto;
						img{
							width:3em;
							height:auto;
						}
					
					}
				}
				.circle-outer-team{
					@include circle(2em,#bebebe);
					float:left;
					text-align:center;
					margin-right:0.5em;
					
					.circle-team{
						@include circle(1.6em,#fff);
						margin:-11px auto;
						text-align:center;
						p{
							font-weight:normal;
							font-size:1em;
							color:#bbb;
							line-height:1.7em;
						}
					}
				}
				
			}
		}
	}

}