$Blue: #0277bd;
$LightBlue: #03a9f4;
$CyanBlue: #53B2C8;

$Gray: #888;
$DarkGray: #757575;
$LightGray: #999;

$Velvet: #5264AE;
//Black Shades
$Black: #000;
$Black19: rgba($Black,0.19);
$Black23: rgba($Black,0.23);

//White tints
$White: #fff;
$White87: rgba($White,0.87);
