$default-text-shadow-color: rgba(blue, 0.8);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

$icon-layout: smart;
$icon-sprite-dimensions: true;


//FONT COLORS
$chatRoomActiveTeam: #A3AEC4;


//@import "compass/css3";
