<script type=""></script>
<ul id="side-bar">
	<li class="sidebar-list team-list">
		<ul>
			<li class="active">
				<div class="circle-outer-team"><div class="circle-team"><p>M</p></div></div>
				<span>Marketing Team<span>
			</li>
			<li>
				<div class="circle-outer-team"><div class="circle-team"><p>D</p></div></div>
				<span>Developers Team<span>
				<p class="notifications">6 new messages - 2 new files</p>
			</li>
			<li>
				<div class="circle-outer-team"><div class="circle-team"><p>S</p></div></div>
				<span>Seo Team<span>
			</li>
			<li>
				<div class="circle-outer-team"><div class="circle-team"><p>G</p></div></div>
				<span>General<span>
			</li>
			<li>
				<div class="icons-Plusiconlarge"></div>
			</li>
		</ul> 
	</li>
	<li class="sidebar-list users-list">
		<ul>
			<li>
				<div class="online"></div>
				<div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
				<span>John Snow</span>
			</li>
			<li>
				<div class="online"></div>
				<div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
				<span>Hanry Potter</span>
				<p class="notifications">6 new messages - 2 new files</p>
			</li>
			<li>
				<div class="away"></div>
				<div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
				<span>Spider Man</span>
			</li>
			<li>
				<div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
				<span>Tony Stark</span>
			</li>
		</ul>
	</li>
</ul>
<div id="messagebox">
	<div class="groupbar">
		<h3>Marketing team<div class="icons-arrow"></div></h3>
		<div class="chat-actions">
			<ul>
				<li><div class="icons-Oval394Oval395"></div></li>
				<li><div class="icons-video"></div></li>
				<li><div class="icons-microphone"></div></li>
				<li><div class="icons-plus"></div><span>Invite</span></li>
			</ul>
		</div>
	</div>
	<div class="messagebar">
		<input type="text" value="" label="Type a message here..." />
		<div>
			<div class="icons-Group"></div>
			<div class="icons-smile"></div>
		</div>
	</div>
</div>