<script type=""></script>
<ul id="side-bar">
	<li class="sidebar-list team-list">
		<ul>
			<li class="active"><div class="circle-outer-team"><div class="circle-team"><p>M</p></div></div>Marketing Team</li>
			<li><div class="circle-outer-team"><div class="circle-team"><p>D</p></div></div>Developers Team</li>
			<li><div class="circle-outer-team"><div class="circle-team"><p>S</p></div></div>Seo Team
			</li>
			<li><div class="circle-outer-team"><div class="circle-team"><p>G</p></div></div>General
			</li>
		</ul> 
	</li>
	<li class="sidebar-list users-list">
		<ul>
			<li><div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>John Snow</li>
			<li><div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
			Hanry Potter</li>
			<li><div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>Spider Man</li>
			<li><div class="circle-outer-user"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>Tony Stark</li>
		</ul>
	</li>
</ul>
<div id="messagebox">
	<div class="groupbar">
		<h3>Marketing team<div class="icons-arrow"></div></h3>
		<div class="chat-actions">
			<ul>
				<li><div class="icons-Oval394Oval395"></div></li>
				<li><div class="icons-video"></div></li>
				<li><div class="icons-microphone"></div></li>
				<li><div class="icons-plus"></div><span>Invite</span></li>
			</ul>
		</div>
	</div>
	<div class="messagebar">
		<input type="text" value="" label="Type a message here..." />
		<div>
			<div class="icons-Group"></div>
			<div class="icons-smile"></div>
		</div>
	</div>
</div>