<div id="sidebar">
	<div class="sidebar-list team-list">
		<ul>
			<li><div class="circle-container"><div class="circle-team"><p>M</p></div></div>Marketing Team</li>
			<li><div class="circle-container"><div class="circle-team"><p>D</p></div></div>Developers Team</li>
			<li><div class="circle-container"><div class="circle-team"><p>S</p></div></div>Seo Team
			</li>
			<li><div class="circle-container"><div class="circle-team"><p>G</p></div></div>General
			</li>
		</ul> 
	</div>
	<div class="sidebar-list users-list">
		<ul>
			<li><div class="circle-container"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>John Snow</li>
			<li><div class="circle-container"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>
			Hanry Potter</li>
			<li><div class="circle-container"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>Spider Man</li>
			<li><div class="circle-container"><div class="circle-user"><img src="assets/images/Koala.jpg" /></div></div>Tony Stark</li>
		</ul>
	</div>
</div>
<div id="messagebox">

</div>