<header>
<div id="top-bar">
	<div class="left-col">
		<div class="icons-back"></div>
		<h2>Uploof & Advicat</h2>
		<p class="selected-team">Marketing Team</p>
	</div>
	<div class="right-col">
		<div class="user-info">
			<div class="notifications">
				<div class="icons-Bell"></div>
			</div>
			<div class="circle-white">
				<div class="circle-avatar">
					<img src="assets/images/Koala.jpg" />
				</div>
			</div>
			<p>Username</p>
		</div>
	</div>
</div>
</header>
<section id="wrapper">
{{outlet}}
</section>
<footer></footer>